
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  flex-direction: column;
}

header .app-title {
  color: #87CEEB;
  font-size: 50px;
  margin-bottom: 20px;
}

header .search-container {
  display: flex;
  align-items: center;
}

header input {
  width: 100%;
  max-width: 250px;
  padding: 8px 15px;
  border: 3px solid grey;
  background-color: white;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 500;
}

header input:focus {
  border: 3px solid black;
  color: #333333;
}

header button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin-left: -30px;
  cursor: pointer;
}

header button i {
  font-size: 20px;
  color: grey;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.city {
  color: orange;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: orange;
  font-size: 35px;
}

.weather .temperature {
  color: white;
  font-size: 102px;
  font-weight: 900;
  margin: 20px 0 10px 0;
}

.weather .temperature span {
  font-weight: 200;
}

.weather .atmosphere {
   font-size: 40px;
   font-weight: 550;
   margin: 0 0 10px 0;
}

.weather .atmosphere i {
  margin-left: 10px;
  font-size: 24px;
}

.weather .wind {
  color: #32CD32;
  font-size: 30px;
  font-weight: 550;
  margin: 5px 0;
}

.weather .humidity {
  color: #32CD32;
  font-size: 30px;
  font-weight: 550;
  margin: 5px 0;
}
